<h1>Our Branches</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>City</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="branch in branches">
                    <td>{{branch.city}}</td>
                    <td>{{branch.address}}</td>
            </tr>
            <!--<tr>
                    <td>Ludhiana</td>
                    <td>123 street, Ludhiana</td>
            </tr>
            <tr>
                    <td>Gurgaon</td>
                    <td>123 street, Gurgaon</td>
            </tr>
            <tr>
                    <td>Banglore</td>
                    <td>123 street, banglore</td>
            </tr>-->                                    
        </tbody>
    </table>
</div>